<!--The content below is only a placeholder and can be replaced.-->
<header class="row">         
  <nav class="navbar navbar-toggleable-md navbar-light bg-primary col-lg-12">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <span class="glyphicon glyphicon-chromecast"></span>
      {{title}}
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/support">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Apps</a>
        </li>
      </ul>      
    </div>
  </nav>
</header>
<section class="row">  
  <div class="col-lg-12">
    <div class="alert alert-info row" *ngFor="let device of devices">
      <div class="col-lg-4">
        <span class="glyphicon glyphicon-chromecast"></span>
        <span>{{ device.name }}</span>
      </div>
      <div class="col-lg-2">
        <span id="deviceHost" class=" text-primary">{{ device.host }}</span>
      </div>
      <div class="col-lg-2">
        <span id="deviceStatus" class=" text-success">ONLINE</span>
      </div>
      <div class="col-lg-2">
        <button class="form-control btn-warning">Admin device</button>                        
      </div>      
      <div class="col-lg-1">
        <button class="form-control btn-disabled glyphicon glyphicon-play"></button>        
      </div>      
      <div class="col-lg-1">
        <button class="form-control btn-disabled glyphicon glyphicon-stop"></button>
      </div>            
    </div>        
  </div>
</section>
<footer class="row">
  <p><strong>All copyright </strong> are restricted by &copy; <a href="https://netzulo.com">Netzulo Open Source Development</a></p>
</footer>
